{% extends "bookmark/base.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>All bookmarks</h1>
        {% for bookmark in bookmarks %}
                <li class="list-unstyled">{{ bookmark.title }}
                   <strong>{{ bookmark.long }}</strong> created at
                    {{ bookmark.created }} by <a href="{% url 'user_display' bookmark.user.id %}">
                        {{ bookmark.user.username }}</a></li>
                <li class="list-comment"><a href="{% url 'bookmark_detail' bookmark.id %}">See bookmark detail</a>

        {% endfor %}

        {% if is_paginated %}
        {% bootstrap_pagination page_obj %}
        {% endif %}

{% endblock %}