{% extends "bookmark/base.html" %}
{% load bootstrap3 %}
{% block content %}

            <div class="centered-display-bookmark">
                <h3>Copy this bookmark and share it!</h3>
                <p> Shortened bookmark: http://localhost:8000/b{{ bookmark.short }}</p>
                <p> Title: {{ bookmark.title }}</p>
                <p> Points to: {{ bookmark.long }}</p>
                <p> Description: {{ bookmark.description }}</p>
                <p> Created by: <a href="{% url 'user_display' user.id %}">{{ bookmark.user }}</a> at
                    {{ bookmark.created }}</p>
            </div>

{% endblock %}