{% extends "bookmark/base.html" %}
{% load bootstrap3 %}

{% block content %}

    {% if user.id == user_to_display.id %}
        <div class="row">
            <div class="col-sm-4">
                <h3><strong>Your bookmarks</strong></h3>
            </div>
            <div class="col-sm-8">

                <h3><small><a href="{% url 'user_display_count' user.id %}">Sort by count</a></small></h3>

            </div>
        </div>


        {% for bookmark in bookmarks %}
                <li class="list-unstyled"><strong><a href="{% url 'click_tracker' bookmark.short %}">localhost:8000/b/
                    {{ bookmark.short }}</a></strong>||<strong>{{ bookmark.title }}</strong> created at{{ bookmark.created }} by you.</li>
                <div class="row">
                    <div class="col-sm-3">
                        <li class="list-comment"><small> Clicked <strong>{{ bookmark.number_clicks }}</strong> times.</small>
                    </div>
                    <div class="col-sm-9">
                        <a href="{% url 'bookmark_detail' bookmark.id %}">See bookmark</a>
                        <a class="padded-delete" href="{% url 'bookmark-update' bookmark.id %}">Edit </a>
                        <a class="padded-delete" href="{% url 'bookmark_delete' bookmark.id %}">Delete</a></li>
                    </div>
                </div>



        {% endfor %}

        {% if is_paginated %}
        {% bootstrap_pagination page_obj %}
        {% endif %}
    {% else %}
    <h1>{{ user_to_display.username }} bookmarks</h1>
        {% for bookmark in bookmarks %}
                <li class="list-unstyled">{{ bookmark.title }}
                   <strong>{{ bookmark.long }}</strong> created at
                    {{ bookmark.created }} by {{ bookmark.user.username }}</li>
                <li class="list-comment">urlybird url: <strong>{{ bookmark.short }}</strong></li>

        {% endfor %}

        {% if is_paginated %}
        {% bootstrap_pagination page_obj %}
        {% endif %}
    {% endif %}

{% endblock %}

